[Desktop Entry]
Type=Application
Exec=/usr/lib/tiger-os/jitsi-launcher.sh
Name=Jitsi Meet
X-KDE-StartupNotify=true
Icon=/usr/lib/tiger-os/jitsi.png
Terminal=false
Categories=Internet;Network;


