[Desktop Entry]
Type=Application
Exec=/usr/lib/tiger-os/jitsi-web-launcher.sh
Name=Jitsi Meet
Icon=/usr/lib/tiger-os/jitsi.svg
Terminal=false
Categories=Internet;Network;


